html {
    font-size: 70%;
}

body {
    font-size: 3rem;
}


.tamLogo {
    width: 19rem;
}

.fuentesNav {
    font-size: 3rem;
    padding-left: 2rem;
}

.encabezado {
    border-top: solid 30px hotpink;

}

.botonCangreBurguer {
    height: 5rem;
    width: 5rem;
}
/* HERO */

.fondoImg {
    background-image: url("https://images.unsplash.com/photo-1643494555111-df0141d84a62?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.colorBtn {
    background-color: #c1101a;
    color: white;
    font-size: 1.5rem;
}

.tituloPrincipal {
    color: green;
    background-color: hotpink;
}

/* NUESTROS SERVICIOS */

.tituloNuestrosservicios {
    background-color: hotpink;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2rem;
}

.tituloNuestrosservicios h2 {
    font-size: 4rem;
}

/* CARUSEL  */

.imgCarousel {
    height: 100 px;
    object-fit: cover;
}

/* FOOTER  */

footer {
    background-color: #c1101a;
    color: white;
}

footer ul li a {
    color: white !important;
}